.StateCard-background {
  width: 264px;
  height: 232px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.background-color-confirmed {
  background-color: #331427;
}

.background-color-active {
  background-color: #132240;
}

.background-color-recovered {
  background-color: #182829;
}

.background-color-deceased {
  background-color: #212230;
}

.home-paragraph-heading {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
}

.Confirmed {
  color: #ff073a;
}

.Active {
  color: #007bff;
}

.Recovered {
  color: #28a745;
}

.Deceased {
  color: #6c757d;
}

.stateCards-container {
  display: flex;
  justify-content: space-evenly;
}

.sai {
}

@media screen and (max-width: 556px) {
  .stateCards-container {
    flex-wrap: wrap;
  }

  .StateCard-background {
    width: 148px;
    height: 148px;
  }
}
