.state-table {
  display: flex;
  flex-direction: column;

  border-radius: 12px;
  border: 1px;
}

.home-search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.home-search-container {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: 72px;
  background-color: #2f2f43;
  border-radius: 10px;
}

.search-input {
  background-color: #2f2f43;
  width: 80%;
  border: #2f2f43;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  border: 0;
  color: #2f2f43;
}

.icon-container {
  width: 10%;
}

.search-icon {
  margin-left: 30px;
  height: 24px;
  width: 24px;
}

.state-table {
  border: 1px solid #475569;
  border-radius: 10px;
}

.state-result-heading {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.state-ul-holder {
  display: flex;
  width: 300px;
}

.state-result-table {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}

.search-container {
  list-style: none;
}

.icon-button {
}

.card-container-row {
  padding-top: 0px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 60px;
}

.covid-home-container {
  background-color: #161625;
  width: 100%;

  padding: 200px;
  text-align: center;
}

.general-column-title {
  color: white;
  padding-right: 40px;
}

.home-table-state-paragraph {
  color: white;
}

.home-paragraph-heading-red {
  color: #ff073a;
}

.home-paragraph-heading-blue {
  color: #007bff;
}

.home-paragraph-heading-green {
  color: #28a745;
}

.home-paragraph-heading-grey {
  color: #6c757d;
}

.horizontal {
  height: 2px #475569;
  width: 100%;
}
